body {
    font-family: 'Open Sans', sans-serif;
}

/* nav dispaly style */
nav {
    display: flex;
    justify-content: space-between;  
    align-items: center;
}

.nav-tittle {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: var(--white-color, #FFF);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    color: #474747;
}

nav a {
    text-decoration: none;
    color: #474747;
}